.all {
  margin: 2em auto;
  max-width: 50em;
  background-color: #121212;
  color: #e7f1f5;
  border-radius: 15px;
  border: 1px solid #f2e205;
}

h2 {
  margin-left: 1em;
}

.spec {
  margin-left: 5em;
}
body {
  background-color: black;
  background-image: url(./stars.png);
}
h1 {
  color: #f2e205;
}
b {
  color: #f2e205;
}
.row {
  display: flex;
  width: 100%;
}
.col {
  width: 56%;
}
